norman
.Rproj.user
.Rhistory
.RData
.Ruserdata
# self defined:
*.Rproj
*.log
IDEAS
/data
TODO.*
/DEPRECATED*
misc/*
summary/*
cred/credentials.R
ag/*
# log files
*.log
# sync scripts
sync_to_server.R
sync_from_server.R
