.Rproj.user
.Rhistory
.RData
.Ruserdata

# self defined:
*.Rproj
*.log
*.html
/data
/plots
TODO.*

# cache -> is done via /cache/.gitignore
# commit .gitignore files to also commit the folders (work around)
# https://stackoverflow.com/questions/115983/how-can-i-add-an-empty-directory-to-a-git-repository

# missing -> is done via /missing/.gitignore

# Tex
TeX/*
!TeX/organigram1.tex
!TeX/organigram2.tex

# /functions
functions/ppdb*

# talk
presentation/*
# !presentation/talk_internal.html

# missing directory
missing/*

# article
article/*
!article/R
!article/article.Rmd
!article/data
!article/references-etox-base.bib
!article/article.tex
!article/tikz/organigram.tex

# share
share/*

# misc
misc/*
notes/*
*.bib

# credentials
cred/credentials.R

# log
log
